body
{
	margin:0px;
}

#userinfo, #auth
{
	float:right;
	width:180px;
}

#menuheader
{
	width:100%;
}

#entete
{
	width:100%;
}


#colonnedroite
{
	float:right;
	width:220px;
}

#colonnegauche
{
	float:left;
	width:220px;
}

.message, #content
{
	padding:25px;
	margin-bottom:5px;
}

#maincontent, #header, #footer
{
	margin:25px;
}

#mainmenu
{
	margin-bottom:25px;
}

